<header>
    <nav>
        <a href="/">My Library</a>
        <ul>
            <li><a href="/Authors">Authors</a></li>
            <li><a href="/Authors/new">Add Authors</a></li>
            <li><a href="/Book">Books</a></li>
            <li><a href="/Book/new">Add Books</a></li>
        </ul>
    </nav>
</header>